include ./mixins/index

doctype html
html(lang="en")
    head
        +meta-data
        +meta-desc("This is just for training task!")
        +meta-keywords("HTML, Pug JS, SCSS, CSS, Front End Mentor")

        link(rel="stylesheet" href="./dist/styles.min.css")
        |
        |
        link(rel="icon" href="./public/assets/images/favicons/favicon.ico")
        link(rel="apple-touch-icon" href="../public/assets/images/favicons/apple-touch-icon.png")
        link(rel="manifest" href="./public/assets/images/favicons/site.webmanifest")
        |
        |

        title Training Task | Front End Mentor
    body 
        .box
            .box__header 
                |
                img(src="./public/assets/images/illustration-article.svg" alt="Image header of the box.")
                |

            .box__content
                .box__content__badge
                    span Learning

                .box__content__date
                    span Published 21 Dec 2023

                .box__content__title 
                    span HTML & CSS foundations

                p.box__content__description
                    | These languages are the backbone of every website,
                    | defining structure, content, and presentation.

                .box__content__avatar
                    .box__content__avatar__img 
                        img(src="./public/assets/images/image-avatar.webp" alt="Image avatar of the box.")

                    span.box__content__avatar__name
                        | greg hooper
        +no-script